
#map {
    height: 100vh;
    width: 100%;
}

canvas {
    display: block; 
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    padding: 20px;
}

.buttons_container {
    width: 80%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    border: 2px solid #fff;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.buttons {
    display: flex;
    gap: 10px;
    min-width: max-content;
}

.first {
    width: 200px;
    height: 140px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    flex-shrink: 0;
    scroll-snap-align: center;
    transition: transform 0.3s ease-in-out;
}



.first:hover{
    transform: scale(1.1);
    filter: blur(0px);
}

.first:active {
    transform: scale(1);
}