

.button-container {
    position: sticky;
    bottom: 20px;
    left: 6%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-height: 92%; 
    overflow-y: auto;
    width: 200px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}


.button-container::-webkit-scrollbar {
    display: none;
}
.button-container::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}


.btn {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 100px;
    filter: grayscale(1);
    color: white;
    stroke: black 10px;
    border: black;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 1s;
    margin: 5px 0px 5px 0px;
    transform: scale(1);
}


.btn:hover {
    filter: grayscale(0);
    transform: scale(1.1);
    margin: 10px 0px 10px 0px;
}

.admin { 
    display: flex;
    justify-self: center;
    width: 600px;
    height: 600px;
}



